@charset "utf-8";
/* 
不正经百科：https://www.bzjbk.com
不正经百科自用主题，喜欢可以联系站长免费获取
*/
@font-face {font-family:'Bzjbk';src: url(Bzjbk.woff2)format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215
}
::-webkit-scrollbar{width:10px;height:1px;}
::-webkit-scrollbar-thumb{border-radius:10px;box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);background:#8898aa;}
::-webkit-scrollbar-track{box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);border-radius:10px;background:#ededed;}
*{-webkit-transition:all .5s;}
a:link{text-decoration:none}
a:active{text-decoration:none}
a:visited{text-decoration:none}
body{margin:0;color:#525f7f;background-color:#fff;font-family:"Bzjbk","Microsoft Yahei",sans-serif;}
.navbar{float:left;height:100vh;width:18%;max-width:300px;position:fixed;
    background:linear-gradient(135deg,rgb(82, 76, 119) 0%,rgb(143, 127, 195)100%);}
.navbar-content{width:100%;height:100%;text-align:center;padding-top:18px;}
.navbar-content img{max-width:58%;border-radius:50%;}
.navbar-content img:hover{-webkit-transform: rotate(360deg);}
.navbar-content h2 a{font-size:23px;font-weight:400;color:#fff;letter-spacing:2px;padding:8px;border-radius:6px;}
.navbar-content h2 a:hover{background:rgba(255,255,255,.2);}
.navbar-content li{padding:6px 10px;list-style-type:none;}
.navbar-content li a{font-size:13px;letter-spacing:2px;color:rgba(255,255,255,.7);padding:8px;border-radius:6px;display:block;}
.navbar-content li a:hover{color: #fff;background:rgba(255,255,255,.2);}
.content{margin-left:18%;min-height:88vh;}
.contents{max-width:1080px;margin:auto;padding-top:18px;}
.multi{display:inline-block;border-radius:8px;margin-bottom:58px;padding:18px;
    box-shadow:0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);}
.multi-left{width:375px;height:250px;float:left;margin-right:28px;position:relative;}
.multi-left img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;
    transform:translate3d(-50%,-50%,0);-webkit-transform:translate3d(-50%,-50%,0);}
.multi-right h2{margin-top:8px;font-size:20px;line-height:28px;}
.multi-right h2 a{color:#32325d;letter-spacing:2px;}
.multi-right h2 a:hover{color:#F23051;}
.multi-right-info{margin:5px 0 15px;}
.multi-right-info-content{margin-right:25px;font-size:12px;color:#525f7f;}
.multi-right-info-content a{color:#525f7f;}
.multi-right-info-content a:hover{color:#F23051;}
.multi-right p{font-size:14px;color:#8898aa;line-height:26px;margin-bottom:8px;letter-spacing:1px;text-align:justify;}
.multi-right-readmore a{padding:5px 12px 6px;background-color:#5bc0de;border-radius:18px;color:#fff;font-size:13px;float:right;}
.multi-right-readmore a:hover{background-color:#f5365c;}
.link{text-align:center;padding:18px 0;border-radius:18px;border:1px solid #f1f1f1;}
.link li{color:#B9B9B9;font-size:12px;display:inline-block;list-style-type:none;padding:0 8px 0 7px;}
.link li a{color:#B9B9B9;font-size:12px;}
.link li a:hover{color:#F23051;}
.pagebar{text-align:center;margin:28px 0;}
.page{border:1px solid #f1f1f1;padding:5px 15px;margin-right:5px;color:#525f7f;border-radius:18px;}
.page:hover{color: #fff;border-color:#F23051;background-color:#F23051;}
.now-page{color: #fff;border-color:#F23051;background-color:#F23051;}
.copyright{margin-left:18%;text-align:center;padding:18px 0 58px;color:#B9B9B9;font-size:12px;}
.copyright a{color:#B9B9B9;font-size:12px;}
.copyright a:hover{color:#F23051;}
.contents-post{max-width:95%;margin:auto;padding-top:18px;}
.contents-post h3{color:#B9B9B9;font-size:13px;margin:0;padding:8px;border-radius:18px;border:1px solid #f1f1f1;}
.contents-post h3 a{color:#B9B9B9;padding:0 8px;}
.contents-post h3 a:hover{color:#F23051;}
.contents-post h1{text-align:center;font-size:23px;letter-spacing:2px;}
.article-content-info{text-align:center;font-size:12px;}
.article-content-info-content a{color:#525f7f;}
.article-content-post p{color:#34495e;font-weight:300;line-height:1.8;text-align:justify;letter-spacing:1px;font-size:1rem;text-indent:2em;}
.article-content-post p a{color:#34495e;}
.article-content-post p img,.article-content-post img{max-width:100%;height:auto;display:block;margin:0 auto;}
.article-content-post p strong,.article-content-post p B{font-weight:400;}
.article-content-tags{font-size:12px;color:#B9B9B9;padding:8px;border-radius:18px;border:1px solid #f1f1f1;}
.article-content-tags a{font-size:13px;color:#2dce89;padding:0 8px;}
.article-content-tags a:hover{color:#F23051;}
.article-content-related{}
.article-content-related li{list-style-type:none;font-size:15px;color:#2dce89;}
.article-content-related li a{color:#2dce89;text-align:justify;letter-spacing:1px;}
.article-content-related li a:hover{color:#F23051;}
