@charset "utf-8";
/* 
小哲博客免费主题，请加小哲QQ群，到群文件下载该主题
小哲博客：https://www.xiaozhe.org
*/
*{margin:0;}body{padding:0;margin:0;font-size:15px;font-family:'Microsoft YaHei',Verdana,small,Arial,Helvetica,sans-serif;color:#333;}
img {border:0;width:auto;height:auto;}
.iconfont{font-family:"iconfont";font-size:14px;font-style:normal;padding-right:4px}
div,form,img,ul,dl,dt,dd{margin:0;padding:0;border:0;}ol{margin-left:-18px;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-weight:bold;margin-right:auto;margin-left:auto;}
.qingchu{clear:both;}a{color:#333;text-decoration:none;}
form, embed {display: inline;margin: 0;padding: 0;}
.alignleft{display:inline;float:left;margin-right:1.625em}
.alignright{display:inline;float:right;margin-left:1.625em}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
#kuangjia,#kuangjias{width:1280px;clear:both;margin:0 auto;table-layout:fixed;word-break:break-all;overflow:hidden;background:#ffffff;}
.neirong{float:left;width:800px;min-height:500px;margin-left:190px;overflow:hidden;padding:10px 0;}
.neirongs{overflow:hidden;margin-left:179px;}
#logo{display:inline-block;border-radius:5px 5px 0 0;}
#logo h1 a,#logo h2 a{font-size:33px;display:block;letter-spacing:2px;width:180px;line-height:78px;color:#fff;text-align:center;-webkit-transition:all .5s;}
#logo h1 a:hover,#logo h2 a:hover{letter-spacing:1px;}
.subtitle{text-align:center;color:#fff;letter-spacing:1.5px;margin-bottom:8px;}
#dingad{width:76%;float:right;text-align:right;}
#daohangbg{position:fixed;top:10px;width:180px;z-index:250;}
#daohangbg img{max-width: 180px;}
#nav{position:relative;font-size:18px;border:1px solid #e9e9e9;border-top:none;text-align:center;list-style:none;}
#nav li{padding:1px 0;}
#nav li a{padding:9px 0;display:block;text-decoration:none;}
#nav li:hover t{display:block;}
#nav li t{position:absolute;display:none;z-index:250;margin:-43px 0 0 168px;width:160px;background:#f6f6f6;border:1px solid #f6f6f6;border-left:1px solid #e9e9e9;}
#xin{background-image: url(images/xin.gif);background-repeat: no-repeat;background-position: right top;padding-top: 10px;}
#re{background-image: url(images/re.gif);background-repeat: no-repeat;background-position: right top;padding-top: 10px;}
#daohangs-around{margin-top:0px;display:none;}
#daohangs-around .logo,#daohangs-around .logo h1,#daohangs-around .logo h2,#daohangs-around .logo h1 a,#daohangs-around .logo h2 a,#chkRemember{display:none;}
#logos,#logos h1,#logos h2,#logos h1 a,#logos h2 a,.navs{display:none;}
#caidan-tubiao,.icons{display:none;}
#daohangs{display:none;}
#daohangs li{margin:0;padding:0;}
#daohangs li{list-style:none;float:left;margin-right:5px;}
#daohangs a{padding:4px 15px;display:block;color:#000;background:#ecebeb;}
#daohangs a:hover{background:#f8f8f8;}
#daohangs ul{background:#fff;padding:2px;position:absolute;border:solid 1px #ccc;display:none;width:200px;}
#daohangs ul li{float:none;margin:0;padding:0;}
#daohangs li:hover > ul{display:block;}
#gg{width:100%;background:#000;}
#BannerTable {width:960px;margin:0 auto;background:#FFFFD1; border:#E9C94D 1px solid; font-size:12px; line-height:27px;height:27px;font-family:small,Arial, Helvetica, sans-serif;}
#BannerTable .bt_left{ color:#FD0E57; font-weight:bold; text-align:center; width:7%; padding:0 0 0 5px;float:left;background: url(images/shuoming_bg.gif) 5px 5px no-repeat;}
#BannerTable .bt_cenetr{color:#4E2207; text-align:left;width:80%;float:left;}
#BannerTable .bt_cenetr a{color:#f00;font-weight: bold;}
#BannerTable .bt_right{color: #FD0E57;text-align: center;width:11%;padding: 0 5px 0 5px;float:left;}
#BannerTable .bt_right a{color:#f00;font-weight:normal;}
.reedd{clear:both;margin:6px 0;position:relative;overflow:hidden;}
#shuoming{padding-left:26px;border: 1px solid #e9e9e9;background-image:url(images/gonggao.gif);background-repeat:no-repeat;background-position:10px 7px;border-radius:5px;}
#shuoming h3{font-size:15px;line-height:25px;font-weight: normal;padding:2px 2px 2px 15px;}
#shuoming h3 a,#shuomingg h3 a{font-weight: normal;}
#shuoming li,#shuomingg li{list-style-type: none;}
#shuomingg{line-height:40px;border: 1px solid #e9e9e9;border-radius: 5px;}
#shuomingg h3{font-size: 14px;line-height:30px;font-weight: normal;padding:0 10px;}
#zhuanzai{float:right;}
.firstreed2:hover{background:#fcfcfc;}
.firstreed2 a:hover{text-decoration:none;}
.firstreed2{border:1px solid #e3e3e3;width:236px;margin:10px 5px 0 5px;float:left;overflow:hidden;padding:5px;}
.firstreed2 h2,#divFunction53 h2,#moveside h2{font-size:15px;line-height:20px;height:42px;font-weight:normal;text-align:justify;overflow:hidden;}
.firstreed2 small,#divFunction53 small,#moveside small{font-size:12px;color: #999999;display:block;height:20px;line-height:20px;overflow:hidden;}
.bh{color:#d10101;}.jiage{float:right;line-height:20px;}
.reed{clear:both;padding:10px 5px 5px;position:relative;overflow:hidden;border-bottom:1px solid #e9e9e9;}
dl.reed{padding:10px 0 0;border-bottom:none;}
.reed h2{font-size:19px;padding-bottom:3px;font-family:'Microsoft YaHei', Verdana, Arial;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;letter-spacing: 1px;}
.reed h1,.dingshop h1{font-size:23px;line-height:28px;font-family:'Microsoft YaHei', Verdana, Arial;}
.reed h4{font-size:12px;float:right;font-weight:normal;color:#616060;padding-top:3px;}
.reed h6,.dingshop h6{font-size:13px;font-weight:normal;margin-top:3px;text-align:right;}
.reed h6 a{color:#666;}
.reed .you{float:right;}
.reed .jieshao{clear:both;font-size:16px;color:#666;}
.reed .jieshao p{padding-top:8px;line-height:1.8em;text-align:justify;text-justify:inter-ideograph;max-height:5.5em;overflow:hidden;text-indent:2em;font-size:15px;letter-spacing:0.5px;}
.reed .read-more{float:right;margin-top:6px;}
.reed .read-more a{padding: 3px 8px;color: #999;border: 1px solid #ededed;border-radius: 12px;}
.reed .read-more a:hover{background:#fbfbfb;text-decoration:none;}
.reed .jieshao img{max-width:150px;max-height:100px;float:left;margin:7px 10px 0 0;padding:2px;border-radius:5px;position:relative;}
#zhaiyaotu2{overflow:hidden;margin-bottom:5px;}
#zhaiyaotu2 img{width:100%;height:auto;transition: all 0.3s ease 0s;}
#zhaiyaotu2 img:hover{transform:scale(1.05);}
.reed-biaoqian{clear:both;line-height:25px;border:1px solid #e9e9e9;padding:5px 10px;margin:10px 0;background:#fbfbfb;border-radius:5px;}
#post-shenming{font-size: 12px;font-weight: bold;width: 100%;padding-top: 10px;text-align: center;}
#postnavi{margin:10px 10px 0px 0px;overflow:hidden;border-bottom:1px #ddd solid;padding-bottom:5px;color:#F00;display:none;}
#postnavi .shang{float:left;font-size:14px;color:#F00;}
#postnavi .xiat{float:right;font-size:14px;color:#F00;}
.page_links{margin:10px 0;}
.page_links h3{height:30px;line-height:30px;font-size:14px;color:#df0031;}
.page_links ul{border:1px #ddd solid;background:#ebe8e3;padding:5px;}
.page_links li{float:none;display:inline;margin-right:5px;}
.reed-biaoti{clear:both;margin-bottom:10px;text-align:center;}
.reed-biaoti2{border-bottom:1px solid #e9e9e9;}
.reed-biaoti h6{text-align:center;color:#666;}
.neirongs .kan{margin:10px 0 20px;}
.reed .kan{font-size:16px;}
.reed .kan h2{background-color:#eee;padding:5px 10px;}
.reed .kan a{letter-spacing:0.5px;}
#reed-0 .kan p{text-indent:0em;border-bottom:1px solid #e9e9e9;margin-bottom:5px;}
.reed .kan p{padding:10px 0;line-height:188%;text-align:justify;text-justify:inter-ideograph;color:#333;letter-spacing:1px;text-indent:2em;}
.reed .kan p img{max-width:100%;margin-left:-2em;border-radius:8px;}
.reed .kan ul{margin-left:20px;}
.reed .kan li{color:#666;}
.reed .kan blockquote{margin:10px auto;border:1px solid #D6E9C6;padding:5px 15px;background-color:#F4FFEF;border-radius:23px;}
.reed .kan blockquote p{font-weight: bold;}
.reed .kan h3{text-indent:2em;border-top:1px dashed #CCC;border-bottom: 1px dashed #CCC;margin:15px 0;padding:4px 0;}
#ads{float:left;clear:right;padding-top: 5px;margin-right: 0px;}
#ads-tupian img{width:100%;max-height:50px;}
#ads-tupianyd img{width:100%;max-height:50px;}
#ads-tupian{display:block;}
#ads-tupianyd{display:none;}
#ads-wenzi a{font-size:18px;overflow:hidden;font-weight:bold;white-space:nowrap;padding:8px 8px 5px 10px;;border-bottom: 1px solid #e9e9e9;display:block;}
#ads-wenziyd a{font-size:16px;overflow:hidden;font-weight:bold;white-space:normal;padding:5px 5px 5px 10px;border-bottom:1px solid #e9e9e9;display:block;}
#ads-wenzi{display:block;}
#ads-wenziyd{display:none;}
#ads-biaoge{background:#F1F2F3;margin-top:5px;}
#ads-biaoge ul{margin-bottom: 5px;font-size: 0;}
#ads-biaoge ul li{display: inline-block;line-height: 28px;width:10%;text-align: center;font-size: 13px;}
#ads-biaoge ul h6{display: inline-block;line-height: 28px;width:10%;text-align: center;font-size: 13px;background-color:#4C657E;color: #FFF;}
#ads-biaoge ul li a img{vertical-align: middle;margin-top: -3px;margin-right: 3px;width: 20px;height: 20px;}
#mutuality{overflow: hidden;margin-bottom: 10px;}
#mutuality li{float: left;width: 382px;padding:8px;line-height:26px;border: 1px solid #e9e9e9;list-style: none;}
#mutuality li a{display: block;width: 100%;height: 23px;text-align:justify;overflow: hidden;}#mutuality li time{font-size: 13px;color: #999;}
#pingluns{overflow:hidden;}
.fabiaokuang{margin:10px 0;overflow:hidden;}
.fabiaokuangyd{margin:10px 0;}
.fabiaokuangyd{display:none;}
.fabiaokuang img,.fabiaokuangyd img{width:100%;max-height:50px;}
.depth-1{margin-top:10px;}
#pinglun-liebiao li:hover{background:#fbfbfb;}
#pinglun-liebiao ul, #pinglun-liebiao li{overflow: hidden; height: 100%;}
#pinglun-liebiao ul.fubens li.depth-1 dl{overflow: hidden; height: 100%;} 
#pinglun-liebiao ul.fubens li.depth-1 dl dd{padding:10px;line-height:25px;font-size:15px;border:3px solid #e9e9e9;} 
#pinglun-liebiao ul.fubens li.depth-1 dl dd span.shu a{text-decoration:none;}
#pinglun-liebiao ul.fubens li.depth-1 dl dd cite{padding: 0 5px;list-style:none;font-style:normal;}
#pinglun-liebiao ul.fubens li.depth-1 dl dd span.huifuliuyan a{float:right;text-decoration:none;color:#999;margin-top:3px;padding:0 5px;border:1px solid #e9e9e9;}
#pinglun-liebiao ul.fubens li.depth-1 dl dd span.huifuliuyan a:hover{text-decoration: underline;}
#pinglun-liebiao ul.fubens li.depth-1 dl dd span.comment-reply-link{background-position: 0 0;padding:0 8px 0 18px;} 
#pinglun-liebiao ul.fubens li.depth-1 dl dd #reed{color:#999;} 
#pinglun-liebiao ul.fubens .depth-1 .jwtwenzhang .depth-1 .clg{display:none;}
#pinglun-liebiao ul.fubens .depth-1 .jwtwenzhang .depth-1 dl dd cite{padding:0 5px 0 22px;}
#pinglun-liebiao ul.fubens .depth-1 .jwtwenzhang .depth-1 dl dd{padding:0;;border:0;} 
#pinglun-liebiao ul.fubens .depth-1 .jwtwenzhang .depth-1{padding:8px 10px;background: url(images/huifu.png) no-repeat 10px 10px;border:1px solid #e9e9e9;margin-top:10px;}
li.jwtwenzhang{list-style-position: outside;padding:10px;margin:0;font-size:14px;line-height:24px;padding-left:55px;border-bottom:1px solid #eaeaea;}
li.jwt li.jwt li.jwtwenzhang{padding-bottom:0px;}
.weixianshi{display:none;}
#divCommentPost{margin-top:10px;border:1px solid #e9e9e9;}
.depth-1 #divCommentPost{margin:10px 0 0;}
#reed-pinglun-zhuti{margin:10px 0 10px 10px;}
#divCommentPost label{margin-top:5px;}
#divCommentPost p{margin-top:10px;}
#divCommentPost p.posttop{padding-bottom:10px;border-bottom:1px solid #dbe0e6;font-size: 14px;font-weight: 600;}
#divCommentPost img{margin-bottom:-0.5em;}
#cancel-reply{float:right;margin-right: 2em;}
input.button {color:#FFFFFF; font-size:14px; width:100px; height:32px; background:#3a6ea5; border:1px solid #3399CC;cursor: pointer;}
#commentnavi{margin-top: 15px; font-size:12px; height: 30px; line-height: 30px; text-align: right; color: #656565;}
#commentnavi em{padding:2px 5px;height:16px;line-height:16px;float: left; border: 1px solid #D4D4D4;background:#FCFAF7;font-weight:bold;}
#commentnavi a{padding:1px 5px;border:1px solid #F7F3ED;margin:0 3px;}
#commentnavi span.current{border: 1px solid #D4D4D4;background: #FCFAF7; padding:1px 5px;}
#commentnavi a:hover{border: 1px solid #A10000; color: #FFFFCC; background: #990000;}
.post-comment{margin-top:15px;}
.login-title{padding-left:2px; padding-bottom:5px;}
.yonghu-xinxi li{padding-bottom:5px;border:0;list-style-type: none;}
.input_on{padding:0 5px;width:40%;height:28px;border:1px solid #999;background:#fbfbfb;}
.input_off{padding:0 5px;width:40%;height:28px;border:1px solid #CCC;}
.input_move{padding:0 5px;width:40%;height:28px;border:1px solid #999;background:#fbfbfb;}
.input_out{padding:0 5px;width:40%;height:28px;border:1px solid #e9e9e9;}
#reed-pinglun-wenben{margin:5px 7px 5px 0;}
#reed-pinglun-wenben textarea{padding:2px 1px;border: 1px solid #e9e9e9;font-size: 16px;} 
#reed-pinglun-wenben textarea:hover{border:1px solid #999;background:#fbfbfb;} 
#reed-pinglun-wenben textarea{width:99%;overflow:auto;}
#fucong-biaoge{padding:0px 3px;overflow:hidden;height:100%;} 
#fucong-biaoge span{float:right;} 
.reed-pinglun-anniu{margin:5px 8px 0 0;width:110px;line-height:30px;color:#ffffff;cursor:pointer;font-size:14px;border:0;border-radius:2px;}
.cuowu-tishi{font-size:14px;line-height:24px;border:1px solid #e9e9e9;margin-top: 10px;}
.cuowu-tishi img{max-width:100%;height:auto;}
.cebianlan{margin-top:8px;float:right;width:275px;height:100%;overflow:hidden;}
.cebianlan img{max-width:100%;max-height:275px;}
.sideba h3{height:25px;line-height:25px;background:url(images/hetu.png) 0 -452px no-repeat;font-size:15px;padding-left:0px;font-family: Microsoft YaHei,small;padding-bottom:0px;font-weight:bold;margin:3px 2px 0 10px;}
.cebianlan .about{margin:3px 2px 0 10px;clear:both;font-size:13px;}
.cebianlan .youxiang{margin:0 5px;clear:both;}
.cebianlan .rongqi{margin-bottom:10px;}
.cebianlan .rongqi dd{border-bottom:1px solid #e9e9e9;padding-bottom:5px;}
.cebianlan .rongqi h3{line-height:25px;font-size:18px;font-family: Microsoft YaHei,small;font-weight:normal;padding-bottom:5px;width:auto;display:inline;}
.cebianlan .rongqi dt{padding:10px 0;}
.cebianlan .rongqi li{list-style-type:none;line-height:32px;height:32px;overflow: hidden;}
#divCatalog li.li-cate{float:none;height:100%;width:auto;}
#divCatalog li.li-subcate{float:none;width:auto;margin-left:20px;}
.cebianlan .rongqi .comment li{clear:both;padding:0 0 3px 16px;border-bottom:1px #777 dashed;}
.cebianlan .rongqi#tag_cloud{width:100%;overflow:hidden;}
.cebianlan .rongqi#tag_cloud p{padding:5px;}
#divMisc li{padding-bottom:16px;background-image:none;}
#divTags ul,#divLinkage ul,#divCatalog ul{overflow:hidden;height:100%;}
#divTags li,#divCatalog li{float:left;width:45%;}
#divLinkage li{float:left;width:31%;padding:0 3px;text-indent:0.5em;font-size:13px;background:url(images/hetu.png) 0 -307px no-repeat;}
#divPrevious ul li .title{line-height: 18px;}
#box{position:relative;float:right;width:100%;padding-left:10px;}.div2{position:fixed;_position:absolute;top:0px;z-index:250;width:300px;}
#edtSearch{width:200px;overflow: hidden;margin-right: 0px;height: 30px; line-height: 30px;font-size: 15px;padding: 0px 5px;float:left;}
#btnPost{width:52px;height:36px;color: #FFF;cursor: pointer;font-size: 16px;text-align: center;border:0 none;}
#divCalendar dt{height:auto}
#divCalendar table{width:100%;}
#divCalendar table caption{margin-bottom:5px;}
#divCalendar table td,#divCalendar table th{text-align:center;}
#divCalendar table td.pad{background-color:#FFF;}
#dibuer{clear:both;color:#666666;padding:8px 0;line-height:24px;text-align:center;}
#dibuer a,#dibuer a:hover{color:#666666;}
.jiange{margin:0 140px}
#oDY-content{float:left;width: 920px;}
#DY-content-inner{padding: 8px 0 8px 10px;}
#DY-post-title h1,#DY-post-title h2{font-size:30px;line-height:30px;font-family:Microsoft YaHei,small;font-weight: normal;padding-bottom: 10px;padding-top: 10px;text-align: center;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCC;}
.DY-post-title h1 a{color :#450A11;}
#guestbook{line-height: 28px;}#guestbook h4{font-size: 14px;border-top-width: 1px;border-top-style: dashed;border-top-color: #CCC;}#guestbook img{padding: 0px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;vertical-align: middle;}
.fenyetiao,.commentpagebar{font-size:15px;text-align:center;padding:20px 0px 10px;}
#INCLUDE_ARCHIVES{font-size:15px;margin:35px 0 15px;padding-left:4%;}
.fenyetiao a,.commentpagebar a{padding:6px 8px;color:#333;border:1px solid #e9e9e9;}
.fenyetiao a:hover,.commentpagebar a:hover{color:#999999;background:#fbfbfb;text-decoration:none;display:inline-block;}
span.now-page{padding:7px 13px;color:#ffffff;display:inline-block;}
@media screen and (max-width:1300px){
#kuangjia,#kuangjias{width:100%;margin:0 auto;}
.neirong,.dingshop{width:78%;}
.dingshopl{width:45%;}.dingshopr{width:49%;}
#mutuality,.cebianlan{display:none;}
}
@media screen and (max-width:1000px){
html{-webkit-text-size-adjust:none}
#kuangjia,#kuangjias{margin:40px auto 0;}
.neirong,.neirongs{width:98%;float:none;margin:0 auto;}#dibuer{margin:0 auto;width:98%;}#daohangbg{display:none;}
#daohangs-around{width:100%;position:fixed;box-shadow:0 0 5px #999;z-index:99;height:46px;top:0;display:block;}
.jiange{margin:0 20px;}.dingshop{width:98%;margin:0 auto;}.firstreed2{width:29.4%;}
#caidan-tubiao{color:#fff;height:30px;line-height:25px;background:url(images/caidan.png) no-repeat 10px center;padding:11px 10px 5px 45px;cursor:pointer;display:block;float:right;}
#caidan-tubiao.active{background-color:#bbb;}
#logos{margin:3px 15px;display:block;float:left;}
#logos h1,#logos h2{font-size:24px;line-height:40px;display:block;text-shadow:none;color:#fff;font-family:'Microsoft YaHei', Verdana, Arial;}
#logos h1 a,#logos h2 a{color:#fff;text-decoration:none;display:block;}
#daohangs{clear:both;float:right;z-index:10000;padding:0 10px 5px;box-shadow:5px 5px 5px -4px #999;border:solid 1px #999;}
#daohangs li{clear:both;float:none;padding:5px 0 0px 5px;text-align:center;font-size:18px;}
#daohangs a,#daohang ul a{font:inherit;background:none;display:inline;padding:0;color:#fff;border:none;}
#daohangs a:hover,#daohang ul a:hover{background:none;color:#000;}
#daohangs ul{width:auto;position:static;display:block;border:none;background:inherit;}
#daohangs ul li{margin:3px 0 3px 15px;}
#mutuality{display: block;}#mutuality li a{text-overflow: ellipsis;white-space: nowrap;}
#mutuality li{width: auto;padding-right: 2px;float: none;}
.fabiaokuang,.read-more{display:none;}
.fabiaokuangyd{display:block;}
#ads-tupian,#ads-wenzi,#zhuanzai{display:none;}
#ads-tupianyd,#ads-wenziyd{display:block;}
}
@media screen and (max-width:750px){
html{-webkit-text-size-adjust:none}
.firstreed2{width:45.6%;}
.dingshopr{width:48%;}
.dingshopr .buy a{padding:7px 23px;}
.reed .jieshao h6{display:none;}
.reed h1,.dingshop h1{font-size:22px;}
.reed h2{font-size:17px;white-space:normal;}
.dingshop h6{font-size:12px;}
.reed .jieshao img{margin-bottom:0;max-width:120px;max-height:80px;}
#ads-biaoge ul li{width:20%;}
#ads-biaoge ul h6{width:20%;}
}
@media screen and (max-width:370px){
html{-webkit-text-size-adjust:none}
#ads-biaoge ul li{width:25%;}
#ads-biaoge ul h6{width:25%;}
}
